{% extends "index.html" %}
{% block title %}Jinja Template Demo - Information{% endblock %}
{% block content %}
    <h1>About Template Demo</h1>
    <p>Here's some information about the app's environment:
    </p>
    <dl>
        <dt>Jinja Version</dt>
        <dd>{{jinja_version|e}}</dd>

        <dt>Werkzeug Version</dt>
        <dd>{{werkzeug_version|e}}</dd>

        <dt>Python Version</dt>
        <dd>{{python_version|e}}</dd>

        <dt>Template Path</dt>
        <dd>{{template_path}}</dd>
    </dl>
    <p><a href="/">Go back to root page</a>.</p>
{% endblock %}